{% extends "base.html" %}

{% block title %}Chat Interface{% endblock %}

{% block content %}
<div class="chat-container">
    <h1>Chat with QAI</h1>
    <form method="POST" action="{{ url_for('chat') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.question.label(class="form-label") }}
            {{ form.question(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
            {{ form.magic(class="btn btn-secondary") }}
        </div>
    </form>
    <div id="response" class="mt-3">{{ response }}</div>
</div>
{% endblock %}
